<!DOCTYPE html>
{% load static %}
{% load bot_signal %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Steam 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway%3A500%2C600"/>
<!-- Main CSS -->  
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'styles/steam-3.css' %}"/>
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <!--<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div class="steam-3-ZCo">
  <div class="auto-group-nxa3-diT">
    <div class="frame-6-hCX">
      <div class="group-2-C9H">
        <img class="auto-group-if9m-7X9" src="{% static 'assets/auto-group-if9m.png' %}"/>
        <div class="auto-group-mhs9-bBR">
          <p class="tamam-56b">TAMAM</p>
          <p class="game-store-KWj">GAME STORE</p>
        </div>
      </div>
      <div class="frame-5-xZh">
        <div class="frame-2-G4b">
          <img class="frame-1-zmH" src="{% static 'assets/frame-1-F5u.png' %}"/>
          <p class="playstation-JGB">PlayStation</p>
        </div>
        <div class="frame-3-VbZ">
          <img class="frame-1-DnT" src="{% static 'assets/frame-1-tr7.png' %}"/>
          <p class="steam-8uR">Steam</p>
        </div>
        <div class="frame-4-kfu">
          <img class="frame-1-Hvj" src="{% static 'assets/frame-1-gbm.png' %}"/>
          <p class="epic-games-PD5">Epic Games</p>
        </div>
      </div>
    </div>
    <div class="rectangle-9-4KD">
    </div>
  </div>
  <div class="auto-group-ncsd-LGj">
    <div class="frame-21-EN7">
      <img class="frame-1-NDR" src="{% static 'assets/frame-1-m1M.png' %}"/>
      <p class="steam-tBm">Покупка игр и пополнение кошелька Steam</p>
    </div>
  </div>
  <div class="auto-group-8g2f-eaF">
    <div class="frame-19-8EX">
      <p class="item--qej">Купить игры</p>
      <p class="item--yeT">Пополнить кошелек</p>
    </div>
    <div class="frame-13-odV">
      <div class="frame-12-f9u">
        <img class="frame-11-zCB" src="{% static 'assets/frame-11-mEK.png' %}"/>
        <div id="autocomplete" class="auto-group-zhxq-S4B">
          <div class="line-1-wWj"></div>
          
          <!--<p class="item--33y">Call of Duty®: Modern Warfare® II</p>-->
          
          <input id="gamefinder" type="search" class="item--33y typeahead form-control search-field" placeholder="Поиск по играм" aria-label="Поиск" aria-describedby="basic-addon1">
          <ul class="autocomplete-result-list"></ul>
        </div>
      </div>
    </div>

    <!--
            <div class="container">
            <div class="row">
                <div class="col-8 offset-2 search-wrapper">
                    <div     class="input-group">
                        <span class="input-group-text search-ico">
                            <img src="{% static 'assets/img/search-ico.png' %}" style="width: 24px; height: 24px">
                        </span>
                        <input     type="search" class="typeahead form-control search-field" placeholder="Поиск по играм" aria-label="Поиск" aria-describedby="basic-addon1">
                        <ul class="autocomplete-result-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    -->



    <div id="final-card" class="auto-group-wk1m-fr3" style="visibility: hidden;">
      <div class="auto-group-qohd-Cb5">
        <img id="detail-img" class="image-1-jL7" src="{% static 'assets/image-1-387.png' %}"/>
        <div class="frame-35-oas">
          <p id="detail_title" class="call-of-duty-modern-warfare-ii-YYT"></p>
          <div class="frame-29-z9Z">
            <img class="frame-27-7V5" src="{% static 'assets/frame-27-gmZ.png' %}"/>
            <img class="frame-26-CmR" src="{% static 'assets/frame-26-ZEj.png' %}"/>
            <img class="frame-28-JJf" src="{% static 'assets/frame-28-umD.png' %}"/>
          </div>
        </div>
      </div>
      <div class="frame-25-QsV">
        <div class="frame-38-8Hh">
          <div class="frame-36-UMZ">
            <div class="frame-22-1MV">
              <p class="item--9Th">Стоимость игры:</p>
              <p id="detail_price_now"class="item-2-886--23d">2 886 ₽</p>
            </div>
            <div class="frame-23-HkF">
              <p class="tgs--A3M">Комиссия TGS:</p>
              <p id = "detail_price_tgs" class="item-120--eUK">120 ₽</p>
            </div>
            <div class="frame-24-9AB">
              <p class="item--4nw">Итого к оплате:</p>
              <p id="detail_total_price" class="item-3-006--HQo">3 006 ₽</p>
            </div>
          </div>
          

          
          
        <form id="link-to-buy" action="" method="get">
            {% csrf_token %}
            <!--{{ form }}-->
            <!--<div onclick="{% bot_first_signal %}" class="frame-37-uSB">Купить игру</div>-->
            <button class="frame-37-uSB" onclick="{% bot_first_signal %}">Купить игру</button>
            <!--<button type="submit">OK</button>-->
        </form>

        </div>
      </div>
    </div>


    
  </div>
</div>


<script> //autocomplete
    new Autocomplete('#autocomplete' , {
        search : input => {
        //console.log(input)
        const url = `/get-games/?search=${input}`
        //console.log(url);
        return new Promise(resolve => {
            fetch(url)
            .then(response=>response.json())
            .then(data => {
                console.log(data.payload);
                resolve(data.payload)
                })
            })
        },
        onSubmit : result => {
            //console.log(result.title)
            //console.log(result)
            //console.log(`/payment/${result.title}`)
            //window.open(`/get-games/?search=${result.title}`)
            console.log(`/get-games/?search=${result.title}`)

            document.getElementById("gamefinder").value = result.title;

            document.getElementById("detail-img").src = result.img;
            document.getElementById("detail_title").innerHTML = result.title;
            document.getElementById("detail_price_now").innerHTML = result.price_now + `₽`;
            document.getElementById("detail_price_tgs").innerHTML = result.price_now + `₽`;
            //if (result.price_past === result.price_now) {
            //    document.getElementById("detail_price_tgs").style.display = "none";
            //} else {
            //    document.getElementById("detail_price_tgs").innerHTML = result.price_past + `₽`;
            //}
            document.getElementById("detail_price_tgs").innerHTML = result.price_past + `₽`;
            document.getElementById("detail_total_price").innerHTML = result.price_now + `₽`;
            document.getElementById("link-to-buy").action = `/payment/${result.title}`;
            document.getElementById("final-card").style.visibility = `visible`;
            console.log(finalCard);

        },

        renderResult : (result , props) => {
            //console.log(props)
            //console.log(result.title)
            //let group = ''
            
            //if(result.index % 2 == 0){
            //    group = 'Group'
            //}
            
            //${group}

            return `
            <div class="container search-results-container">
                <div ${props}>
                    <div class="row">
                        <div class="col-8 offset-2 search-results-wrapper">
                            <div class="row search-results-row align-items-center">
                            <div class="col-2 search-game-img" style="background-image: url(${result.img})"></div>
                            <div class="col-5 search-game-name">${result.title}</div>
                            <div class="col">
                                <img src="{% static 'assets/img/win-ico.png' %}" class="platform-icon">
                                <img src="{% static 'assets/img/steam-ico.png' %}" class="platform-icon">
                                <img src="{% static 'assets/img/mac-ico.png' %}" class="platform-icon">
                            </div>
                            {% if result.price_past == result.price_now %}
                           
                                <div class="col-2 search-game-price">
                                    <div class="row">
                                        <div class="col">
                                            ${result.price_now} ₽
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% else %}
                            <div class="col-1 discount-badge">-${result.discount}%</div>
                            
                                <div class="col-2 search-game-price">
                                    <div class="row">
                                        <div class="col old-price">
                                            ${result.price_past} ₽
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            ${result.price_now} ₽
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                        </div>            
                    </div>
                </div>
            </div>
            `}
        });
</script>







</body>




</html>