
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.steam-5-R3h {
  width: 100%;
  height: 92.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.steam-5-R3h .steam-4-Waw {
  box-sizing: border-box;
  padding: 2rem 0rem 8.7rem 0rem;
  width: 144rem;
  height: 127.9rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT {
  margin: 0rem 8.4rem 1.8rem 8.4rem;
  width: calc(100% - 16.8rem);
  height: 5.1rem;
  position: relative;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH {
  width: 127.2rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .group-1-NFm {
  margin-right: 71.9rem;
  width: 13.3rem;
  height: 4.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh {
  margin: 1.2rem 0;
  height: calc(100% - 2.4rem);
  display: flex;
  column-gap: 4.1rem;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-2-hhM {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-2-hhM .frame-1-D9u {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-2-hhM .playstation-1rT {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: -0.054rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-3-PMD {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-3-PMD .frame-1-L1Z {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-3-PMD .steam-1tP {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: -0.054rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-4-fT9 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-4-fT9 .frame-1-11D {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .frame-6-3jH .frame-5-UZh .frame-4-fT9 .epic-games-XET {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: -0.054rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-hmvd-MrT .rectangle-9-c11 {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  left: 105.7rem;
  top: 4.6rem;
  background-color: #000000;
  border-radius: 10rem;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 5.5rem 34.1rem 5.5rem 8.4rem;
  width: 100%;
  height: 30.2rem;
  display: flex;
  align-items: center;
  background-color: #ebedf1;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-39-K3q {
  margin: 0rem 17.2rem 14.8rem 0rem;
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1000rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu {
  width: 79.9rem;
  height: 100%;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .steam-W8K {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT {
  width: 100%;
  height: 14.2rem;
  display: flex;
  align-items: center;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT .image-1-HYP {
  margin-right: 2.4rem;
  width: 29.9rem;
  height: 14.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT .frame-41-kwm {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT .frame-41-kwm .call-of-duty-modern-warfare-ii-4hZ {
  margin-bottom: 1rem;
  max-width: 47.6rem;
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.162rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT .frame-41-kwm .frame-29-in7 {
  box-sizing: border-box;
  padding-left: 0.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT .frame-41-kwm .frame-29-in7 .frame-27-eQs {
  margin-right: 2.3rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT .frame-41-kwm .frame-29-in7 .frame-26-jhD {
  margin-right: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .auto-group-yh1u-UZ1 .frame-21-oDu .frame-40-kYT .frame-41-kwm .frame-29-in7 .frame-28-TNK {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 {
  margin: 0rem 39.4rem 0rem 40.8rem;
  width: calc(100% - 80.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD {
  box-sizing: border-box;
  padding-bottom: 4.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 {
  margin-bottom: 2rem;
  width: 62.4rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 .frame-44-2TM {
  margin: 0rem 35.2rem 1.5rem 0rem;
  width: calc(100% - 35.2rem);
  display: flex;
  align-items: center;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 .frame-44-2TM .item-1-YAo {
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 .frame-44-2TM .steam-cwM {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 .frame-43-Uif {
  box-sizing: border-box;
  padding: 1.4rem 2.8rem;
  width: 100%;
  height: 7rem;
  background-color: #ebedf1;
  border-radius: 2rem;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 .frame-43-Uif .frame-42-oF9 {
  width: 18.8rem;
  height: 100%;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 .frame-43-Uif .frame-42-oF9 .steam-8oD {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.036rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-48-K39 .frame-43-Uif .frame-42-oF9 .steam-BWb {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .line-2-RA3 {
  margin-bottom: 1.9rem;
  width: 62.4rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.1000000015);
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-47-vcb {
  margin: 0rem 1.4rem 2rem 0rem;
  width: calc(100% - 1.4rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-47-vcb .frame-45-dG7 {
  margin: 2.4rem 22.2rem 2.4rem 0rem;
  height: calc(100% - 4.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-47-vcb .frame-45-dG7 .item-2-7SB {
  margin-right: 0.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-47-vcb .frame-45-dG7 .item--bs9 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-47-vcb .frame-8-EQK {
  width: 19.2rem;
  height: 6.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .line-4-wZd {
  margin-bottom: 1.9rem;
  width: 62.4rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.1000000015);
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-50-eyq {
  margin: 0rem 1.4rem 2rem 0rem;
  width: calc(100% - 1.4rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-50-eyq .frame-46-MdM {
  margin: 2.4rem 13.1rem 2.4rem 0rem;
  height: calc(100% - 4.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-50-eyq .frame-46-MdM .item-3-Eh9 {
  margin-right: 0.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-50-eyq .frame-46-MdM .telegram-Vsy {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .frame-50-eyq .frame-8-ns5 {
  width: 19.2rem;
  height: 6.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-tag3-CjD .line-3-HYw {
  width: 62.4rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.1000000015);
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .frame-51-NqH {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .frame-51-NqH .frame-46-UNX {
  margin-right: 13.45rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .frame-51-NqH .frame-46-UNX .item-4-yq5 {
  margin-right: 0.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .frame-51-NqH .frame-46-UNX .item--yyV {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .frame-51-NqH .item-3-006--Ttf {
  margin-right: 14.65rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06rem;
  font-style: italic;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .frame-51-NqH .item--k75 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  text-decoration-line: underline;
  color: #007bec;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ {
  box-sizing: border-box;
  padding-top: 4.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem #000000;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .line-5-UxB {
  margin-bottom: 1.9rem;
  width: 62.4rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.1000000015);
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-52-bX1 {
  margin: 0rem 0.75rem 2rem 0rem;
  width: calc(100% - 0.75rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-52-bX1 .frame-46-sUX {
  margin: 2.4rem 17.1rem 2.4rem 0rem;
  height: calc(100% - 4.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-52-bX1 .frame-46-sUX .item-5-BEK {
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-52-bX1 .frame-46-sUX .item--rbM {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-52-bX1 .frame-37-Cod {
  box-sizing: border-box;
  padding: 2.4rem 0rem 2.4rem 2.15rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ebedf1;
  border-radius: 4rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-53-ZXh {
  margin: 0rem 5.5rem 2rem 0rem;
  width: calc(100% - 5.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-53-ZXh .rectangle-10-Ds9 {
  margin-right: 1.5rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #ebedf1;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-53-ZXh .steam--5eT {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-54-ixK {
  margin: 0rem 17.5rem 2rem 0rem;
  width: calc(100% - 17.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-54-ixK .rectangle-10-eLB {
  margin-right: 1.5rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #ebedf1;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-54-ixK .item--ZT9 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-54-ixK .item--ZT9 .item--ZT9-sub-0 {
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-54-ixK .item--ZT9 .item--ZT9-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.06rem;
  text-decoration-line: underline;
  color: #007bec;
  font-family: Raleway, 'Source Sans Pro';
}
.steam-5-R3h .steam-4-Waw .frame-49-uk7 .auto-group-ckwz-DFZ .frame-37-4Rq {
  width: 62.4rem;
  height: 6.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 4rem;
  flex-shrink: 0;
}
.steam-5-R3h .rectangle-11-r6o {
  opacity: 0.4;
  width: 144rem;
  height: 122.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.400000006);
}
.steam-5-R3h .group-3-KPh {
  box-sizing: border-box;
  padding: 3.6rem 4.189rem 7.3rem 15.7rem;
  width: 84rem;
  height: 48.1rem;
  position: absolute;
  left: 30rem;
  top: 22.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3rem;
}
.steam-5-R3h .group-3-KPh .group-2-LZh {
  margin-bottom: 3.4rem;
  width: 3.1113rem;
  height: 0.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .group-3-KPh .frame-56-3yu {
  margin-right: 11.4113rem;
  width: 52.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.steam-5-R3h .group-3-KPh .frame-56-3yu .frame-57-LCK {
  margin-bottom: 5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.steam-5-R3h .group-3-KPh .frame-56-3yu .frame-57-LCK .frame-55-Tnj {
  margin-bottom: 3rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.steam-5-R3h .group-3-KPh .frame-56-3yu .frame-57-LCK .item--wT1 {
  max-width: 52.7rem;
  text-align: center;
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.162rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  flex-shrink: 0;
}
.steam-5-R3h .group-3-KPh .frame-56-3yu .frame-37-mB9 {
  margin: 0 15.6rem;
  width: calc(100% - 31.2rem);
  height: 6.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.06rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 4rem;
  flex-shrink: 0;
}
