
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.rectangle-7-3qu {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:274f29695aa4259ddcfd67847f1e691586c246ad');
  width: 100%;
  height: 62.9rem;
  background-color: rgba(11, 0, 146, 0.400000006);
  background-size: 100% 100%;
}
