
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.steam-3-ZCo {
  position: relative;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;

  .auto-group-nxa3-diT {
    margin: 0rem 8.4rem 1.7rem 8.4rem;
    width: calc(100% - 16.8rem);
    height: 5.1rem;
    position: relative;
    flex-shrink: 0;

    .frame-6-hCX {
      align-items: center;
      width: 127.2rem;
      height: 4.7707rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;

      .group-2-C9H {
        margin-right: 72.2696rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-if9m-7X9 {
          margin: 0rem 0.687rem 0.126rem 0rem;
          width: 3.7435rem;
          height: 4.645rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-mhs9-bBR {
          width: 8.5rem;
          height: 4.599rem;
          position: relative;
          flex-shrink: 0;

          .tamam-56b {
            white-space: nowrap;
            width: 8.5rem;
            height: 3.3rem;
            font-size: 2.5758rem;
            font-weight: 400;
            line-height: 1.26;
            letter-spacing: -0.1545rem;
            color: #000000;
            position: absolute;
            left: 0;
            top: 0;
            font-family: Outfit, 'Source Sans Pro';
          }
          .game-store-KWj {
            height: 1.8rem;
            top: 2.799rem;
            font-size: 1.4167rem;
            font-weight: 400;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            width: 7.9rem;
            position: absolute;
            left: 0.3263rem;
            line-height: 1.26;
            letter-spacing: -0.085rem;
            color: #c3c3db;
          }
        }
      }
      .frame-5-xZh {
        align-items: center;
        flex-shrink: 0;
        margin: 1.1854rem 0;
        height: calc(100% - 2.3707rem);
        display: flex;
        column-gap: 4.1rem;

        .frame-2-G4b {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .frame-1-zmH {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
          }
          .playstation-JGB {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.175;
            letter-spacing: -0.054rem;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-family: Raleway, 'Source Sans Pro';
          }
        }
        .frame-3-VbZ {
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .frame-1-DnT {
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.4rem;
          }
          .steam-8uR {
            margin-top: 0.1rem;
            line-height: 1.175;
            letter-spacing: -0.054rem;
            color: #000000;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
        .frame-4-kfu {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: center;

          .frame-1-Hvj {
            margin-right: 1rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .epic-games-PD5 {
            flex-shrink: 0;
            margin-top: 0.1rem;
            letter-spacing: -0.054rem;
            color: #000000;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.175;
          }
        }
      }
    }
    .rectangle-9-4KD {
      background-color: #000000;
      border-radius: 10rem;
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      left: 105.7rem;
      top: 4.6rem;
    }
  }
  .auto-group-ncsd-LGj {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(11, 0, 146, 0.400000006);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:274f29695aa4259ddcfd67847f1e691586c246ad');
    padding: 5rem 31rem 5rem 30rem;
    height: 30.2rem;
    background-position: center;
    flex-shrink: 0;

    .frame-21-EN7 {
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;

      .frame-1-NDR {
        margin-bottom: 3rem;
        width: 6.4rem;
        height: 6.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .steam-tBm {
        flex-shrink: 0;
        max-width: 83rem;
        font-size: 5.4rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.162rem;
        color: #ffffff;
        font-family: Raleway, 'Source Sans Pro';
      }
    }
  }
  .auto-group-8g2f-eaF {
    row-gap: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 30rem 19rem 29.9rem;
    width: 100%;

    .frame-19-8EX {
      position: relative;
      flex-shrink: 0;
      margin-right: 26.8rem;
      width: 57.1rem;
      height: 3.2rem;

      .item--qej {
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        width: 21.9rem;
        height: 3.2rem;
        left: 0;
        font-size: 3.2rem;
        letter-spacing: -0.096rem;
        color: #000000;
        position: absolute;
        top: 0;
        font-weight: 600;
        line-height: 1;
      }
      .item--yeT {
        font-size: 3.2rem;
        line-height: 1;
        letter-spacing: -0.096rem;
        color: #000000;
        left: 21.3rem;
        height: 3.2rem;
        position: absolute;
        top: 0;
        font-weight: 600;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        width: 35.8rem;
      }
    }
    .frame-13-odV {
      border-radius: 100rem;
      flex-shrink: 0;
      margin-left: 0.1rem;
      box-sizing: border-box;
      padding: 1.4rem 2rem;
      width: 84rem;
      height: 5.2rem;
      background-color: #ebedf1;

      .frame-12-f9u {
        width: 33.5rem;
        height: 100%;
        display: flex;
        align-items: center;

        .frame-11-zCB {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4rem;
          height: 2.4rem;
        }
        .auto-group-zhxq-S4B {
          box-sizing: border-box;
          padding: 0.3rem 0rem 0.3rem 2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .line-1-wWj {
            margin-right: 1.9rem;
            width: 0.1rem;
            height: 1.7rem;
            background-color: rgba(0, 0, 0, 0.200000003);
            flex-shrink: 0;
          }
          .item--33y {
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.054rem;
            color: #000000;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
      }
    }
    .auto-group-wk1m-fr3 {
      height: 26rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;

      .auto-group-qohd-Cb5 {
        margin-right: 12rem;
        width: 31.3rem;
        flex-shrink: 0;

        .image-1-jL7 {
          margin-bottom: 2rem;
          width: 29.9rem;
          height: 13.6rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
        }
        .frame-35-oas {
          width: 100%;
          display: flex;
          flex-direction: column;

          .call-of-duty-modern-warfare-ii-YYT {
            line-height: 1;
            letter-spacing: -0.096rem;
            font-family: Raleway, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1rem;
            font-weight: 500;
            color: #000000;
            max-width: 31.3rem;
            font-size: 3.2rem;
          }
          .frame-29-z9Z {
            box-sizing: border-box;
            padding-left: 0.3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-27-7V5 {
              flex-shrink: 0;
              margin-right: 2.3rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .frame-26-CmR {
              margin-right: 2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-28-JJf {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-25-QsV {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.4rem 2rem 2.2rem 2.2rem;
        width: 40.8rem;
        height: 100%;
        background-color: #ebedf1;
        border-radius: 3rem;

        .frame-38-8Hh {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .frame-36-UMZ {
            margin-bottom: 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-22-1MV {
              margin-bottom: 2.7rem;
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item--9Th {
                margin-right: 13.5rem;
                font-size: 2rem;
                font-weight: 500;
                font-family: Raleway, 'Source Sans Pro';
                line-height: 1;
                letter-spacing: -0.06rem;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2-886--23d {
                font-weight: 700;
                color: #000000;
                flex-shrink: 0;
                font-size: 2rem;
                line-height: 1;
                letter-spacing: -0.06rem;
                font-style: italic;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-23-HkF {
              width: calc(100% - 0.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.1rem 1.5rem 0rem;

              .tgs--A3M {
                letter-spacing: -0.06rem;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 17.5rem;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1;
                color: #000000;
                flex-shrink: 0;
              }
              .item-120--eUK {
                font-weight: 700;
                font-style: italic;
                color: #000000;
                font-family: Raleway, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 2rem;
                line-height: 1;
                letter-spacing: -0.06rem;
                white-space: nowrap;
              }
            }
            .frame-24-9AB {
              width: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .item--4nw {
                margin: 0rem 10.7rem 0.2rem 0rem;
                color: #000000;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1;
                letter-spacing: -0.06rem;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-3-006--HQo {
                line-height: 1;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.2rem;
                font-weight: 700;
                color: #000000;
                letter-spacing: -0.096rem;
                font-style: italic;
              }
            }
          }
          .frame-37-uSB {
            white-space: nowrap;
            background-color: #000000;
            border-radius: 4rem;
            font-weight: 600;
            line-height: 1;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-family: Raleway, 'Source Sans Pro';
            display: flex;
            flex-shrink: 0;
            width: 36.4rem;
            height: 6rem;
            font-size: 2rem;
            letter-spacing: -0.06rem;
          }
        }
      }
    }
  }
}
