
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.steam-5-R3h {
  background-color: #ffffff;
  width: 100%;
  height: 92.4rem;
  position: relative;
  overflow: hidden;

  .steam-4-Waw {
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    top: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    background-color: #ffffff;
    padding: 2rem 0rem 8.7rem 0rem;
    width: 144rem;
    height: 127.9rem;

    .auto-group-hmvd-MrT {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 8.4rem 1.8rem 8.4rem;
      width: calc(100% - 16.8rem);
      height: 5.1rem;

      .frame-6-3jH {
        align-items: center;
        width: 127.2rem;
        height: 4.8rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;

        .group-1-NFm {
          height: 4.8rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 71.9rem;
          width: 13.3rem;
        }
        .frame-5-UZh {
          margin: 1.2rem 0;
          height: calc(100% - 2.4rem);
          display: flex;
          column-gap: 4.1rem;
          align-items: center;
          flex-shrink: 0;

          .frame-2-hhM {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-1-D9u {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .playstation-1rT {
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.175;
              letter-spacing: -0.054rem;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              color: #000000;
            }
          }
          .frame-3-PMD {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-1-L1Z {
              margin-right: 1rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .steam-1tP {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              margin-top: 0.1rem;
              font-weight: 500;
              line-height: 1.175;
              letter-spacing: -0.054rem;
              font-size: 1.8rem;
              flex-shrink: 0;
            }
          }
          .frame-4-fT9 {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-1-11D {
              margin-right: 1rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .epic-games-XET {
              font-size: 1.8rem;
              line-height: 1.175;
              margin-top: 0.1rem;
              font-weight: 500;
              letter-spacing: -0.054rem;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .rectangle-9-c11 {
        background-color: #000000;
        border-radius: 10rem;
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        left: 105.7rem;
        top: 4.6rem;
      }
    }
    .auto-group-yh1u-UZ1 {
      margin-bottom: 4rem;
      width: 100%;
      align-items: center;
      background-color: #ebedf1;
      box-sizing: border-box;
      padding: 5.5rem 34.1rem 5.5rem 8.4rem;
      height: 30.2rem;
      display: flex;
      flex-shrink: 0;

      .frame-39-K3q {
        vertical-align: top;
        border-radius: 1000rem;
        flex-shrink: 0;
        margin: 0rem 17.2rem 14.8rem 0rem;
        width: 4.4rem;
        height: 4.4rem;
        object-fit: contain;
      }
      .frame-21-oDu {
        width: 79.9rem;
        height: 100%;
        flex-shrink: 0;

        .steam-W8K {
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1;
          letter-spacing: -0.06rem;
          color: #000000;
        }
        .frame-40-kYT {
          align-items: center;
          width: 100%;
          height: 14.2rem;
          display: flex;

          .image-1-HYP {
            border-radius: 2rem;
            flex-shrink: 0;
            margin-right: 2.4rem;
            width: 29.9rem;
            height: 14.2rem;
            object-fit: cover;
            vertical-align: top;
          }
          .frame-41-kwm {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .call-of-duty-modern-warfare-ii-4hZ {
              margin-bottom: 1rem;
              line-height: 1;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 47.6rem;
              font-size: 5.4rem;
              font-weight: 600;
              letter-spacing: -0.162rem;
            }
            .frame-29-in7 {
              box-sizing: border-box;
              padding-left: 0.3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .frame-27-eQs {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.3rem;
                width: 1.8rem;
                height: 1.8rem;
                object-fit: contain;
              }
              .frame-26-jhD {
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2rem;
              }
              .frame-28-TNK {
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .frame-49-uk7 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 39.4rem 0rem 40.8rem;
      width: calc(100% - 80.2rem);

      .auto-group-tag3-CjD {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 4.3rem;

        .frame-48-K39 {
          width: 62.4rem;
          flex-shrink: 0;
          margin-bottom: 2rem;

          .frame-44-2TM {
            margin: 0rem 35.2rem 1.5rem 0rem;
            width: calc(100% - 35.2rem);
            display: flex;
            align-items: center;

            .item-1-YAo {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.5rem;
              font-weight: 700;
              letter-spacing: -0.06rem;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 2rem;
              line-height: 1;
            }
            .steam-cwM {
              line-height: 1;
              letter-spacing: -0.06rem;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
          }
          .frame-43-Uif {
            box-sizing: border-box;
            padding: 1.4rem 2.8rem;
            width: 100%;
            height: 7rem;
            background-color: #ebedf1;
            border-radius: 2rem;

            .frame-42-oF9 {
              width: 18.8rem;
              height: 100%;

              .steam-8oD {
                letter-spacing: -0.036rem;
                color: #000000;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1;
              }
              .steam-BWb {
                color: #000000;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1;
                letter-spacing: -0.06rem;
              }
            }
          }
        }
        .line-2-RA3 {
          margin-bottom: 1.9rem;
          width: 62.4rem;
          height: 0.1rem;
          background-color: rgba(0, 0, 0, 0.1000000015);
          flex-shrink: 0;
        }
        .frame-47-vcb {
          height: 6.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.4rem 2rem 0rem;
          width: calc(100% - 1.4rem);

          .frame-45-dG7 {
            flex-shrink: 0;
            margin: 2.4rem 22.2rem 2.4rem 0rem;
            height: calc(100% - 4.8rem);
            display: flex;
            align-items: center;

            .item-2-7SB {
              font-weight: 700;
              line-height: 1;
              letter-spacing: -0.06rem;
              white-space: nowrap;
              margin-right: 0.6rem;
              font-size: 2rem;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .item--bs9 {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1;
              letter-spacing: -0.06rem;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-8-EQK {
            border-radius: 3rem;
            flex-shrink: 0;
            width: 19.2rem;
            height: 6.8rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .line-4-wZd {
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 62.4rem;
          height: 0.1rem;
          background-color: rgba(0, 0, 0, 0.1000000015);
        }
        .frame-50-eyq {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.4rem 2rem 0rem;
          width: calc(100% - 1.4rem);
          height: 6.8rem;
          display: flex;

          .frame-46-MdM {
            margin: 2.4rem 13.1rem 2.4rem 0rem;
            height: calc(100% - 4.8rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-3-Eh9 {
              color: #000000;
              white-space: nowrap;
              font-family: Raleway, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.6rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1;
              letter-spacing: -0.06rem;
            }
            .telegram-Vsy {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1;
              letter-spacing: -0.06rem;
            }
          }
          .frame-8-ns5 {
            width: 19.2rem;
            height: 6.8rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 3rem;
            flex-shrink: 0;
          }
        }
        .line-3-HYw {
          width: 62.4rem;
          height: 0.1rem;
          background-color: rgba(0, 0, 0, 0.1000000015);
          flex-shrink: 0;
        }
      }
      .frame-51-NqH {
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-46-UNX {
          margin-right: 13.45rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item-4-yq5 {
            font-family: Raleway, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.6rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.06rem;
            color: #000000;
            white-space: nowrap;
          }
          .item--yyV {
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.06rem;
            color: #000000;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
        .item-3-006--Ttf {
          flex-shrink: 0;
          font-weight: 700;
          letter-spacing: -0.06rem;
          font-style: italic;
          white-space: nowrap;
          font-family: Raleway, 'Source Sans Pro';
          margin-right: 14.65rem;
          font-size: 2rem;
          line-height: 1;
          color: #000000;
        }
        .item--k75 {
          font-size: 2rem;
          text-decoration-line: underline;
          color: #007bec;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1;
          letter-spacing: -0.06rem;
        }
      }
      .auto-group-ckwz-DFZ {
        padding-top: 4.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;

        .line-5-UxB {
          margin-bottom: 1.9rem;
          width: 62.4rem;
          height: 0.1rem;
          background-color: rgba(0, 0, 0, 0.1000000015);
          flex-shrink: 0;
        }
        .frame-52-bX1 {
          margin: 0rem 0.75rem 2rem 0rem;
          width: calc(100% - 0.75rem);
          height: 6.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-46-sUX {
            margin: 2.4rem 17.1rem 2.4rem 0rem;
            height: calc(100% - 4.8rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-5-BEK {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1;
              white-space: nowrap;
              margin-right: 0.5rem;
              letter-spacing: -0.06rem;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
            }
            .item--rbM {
              font-weight: 500;
              line-height: 1;
              letter-spacing: -0.06rem;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
          .frame-37-Cod {
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #ebedf1;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            letter-spacing: -0.06rem;
            color: #000000;
            border-radius: 4rem;
            padding: 2.4rem 0rem 2.4rem 2.15rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
          }
        }
        .frame-53-ZXh {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 5.5rem 2rem 0rem;
          width: calc(100% - 5.5rem);
          display: flex;

          .rectangle-10-Ds9 {
            margin-right: 1.5rem;
            width: 2.8rem;
            height: 2.8rem;
            background-color: #ebedf1;
            border-radius: 0.4rem;
            flex-shrink: 0;
          }
          .steam--5eT {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.06rem;
            color: #000000;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .frame-54-ixK {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 17.5rem 2rem 0rem;
          width: calc(100% - 17.5rem);

          .rectangle-10-eLB {
            flex-shrink: 0;
            margin-right: 1.5rem;
            width: 2.8rem;
            height: 2.8rem;
            background-color: #ebedf1;
            border-radius: 0.4rem;
          }
          .item--ZT9 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.06rem;
            color: #000000;
            display: flex;
            align-items: baseline;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;

            .item--ZT9-sub-0 {
            }
            .item--ZT9-sub-1 {
              letter-spacing: -0.06rem;
              text-decoration-line: underline;
              color: #007bec;
              font-family: Raleway, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
              line-height: 1;
            }
          }
        }
        .frame-37-4Rq {
          line-height: 1;
          font-family: Raleway, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-weight: 600;
          flex-shrink: 0;
          font-size: 2rem;
          letter-spacing: -0.06rem;
          white-space: nowrap;
          width: 62.4rem;
          height: 6.8rem;
          color: #ffffff;
          display: flex;
          background-color: #000000;
          border-radius: 4rem;
        }
      }
    }
  }
  .rectangle-11-r6o {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.400000006);
    opacity: 0.4;
    width: 144rem;
    height: 122.6rem;
  }
  .group-3-KPh {
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 3rem;
    padding: 3.6rem 4.189rem 7.3rem 15.7rem;
    position: absolute;
    display: flex;
    left: 30rem;
    top: 22.1rem;
    align-items: flex-end;
    box-sizing: border-box;
    width: 84rem;
    height: 48.1rem;

    .group-2-LZh {
      height: 0.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 3.1113rem;
    }
    .frame-56-3yu {
      margin-right: 11.4113rem;
      width: 52.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-57-LCK {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 5rem;
        width: 100%;
        align-items: center;

        .frame-55-Tnj {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3rem;
          width: 8rem;
          height: 8rem;
          object-fit: contain;
        }
        .item--wT1 {
          color: #000000;
          font-family: Raleway, 'Source Sans Pro';
          max-width: 52.7rem;
          text-align: center;
          line-height: 1;
          letter-spacing: -0.162rem;
          flex-shrink: 0;
          font-size: 5.4rem;
          font-weight: 600;
        }
      }
      .frame-37-mB9 {
        color: #ffffff;
        display: flex;
        font-weight: 600;
        align-items: center;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0 15.6rem;
        width: calc(100% - 31.2rem);
        justify-content: center;
        font-size: 2rem;
        letter-spacing: -0.06rem;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 4rem;
        height: 6.8rem;
        line-height: 1;
      }
    }
  }
}
